<div class="list">
    <% if (classes.length > 0) { classes.forEach(function(classItem) { %>
        <a href="/search/class/<%= classItem.id %>" class="list-button"><%= classItem.classCode %> - <%= classItem.className %> (<%= classItem.numTutors %> Tutors)</a>
    <% })} %>
</div>