<div class="navbar">
    <div class="navbar-header">
        <a href="/"><img class="navbar-img" src="/images/logo.png"></a>
        <a href="/" class="navbar-title">AnTutor Connect</a>
    </div>
    <div class="navbar-links">
        <a class="navbar-link" href="/search">Find Tutors</a>
        <% if (typeof user !== 'undefined') { %>
            <% if (!user.isTutor) { %>
                <a class="navbar-link" href="/profile/tutor-sign-up">Become a Tutor</a>
            <% } %>
            <a class="navbar-link" href="/profile">Profile</a>
            <a class="navbar-link" href="/log-out">Log Out</a>
        <% } 
        else { %>
            <a class="navbar-link" href="/sign-up">Sign Up</a>
            <a class="navbar-link" href="/log-in">Log In</a>
        <% } %>
    </div>
</div>