<div class="list">
    <% if (tutors.length > 0) { tutors.forEach(function(tutor) { %>
        <a href="/search/tutor/<%= tutor.id %>" class="list-button"><%= tutor.firstName %> <%= tutor.lastName %></a>
    <% })}; %>
</div>
