<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AnTutorsConnect</title>
</head>
<body>
    <%- include("./partials/menu-bar.ejs") %>
    <h1>Welcome back, <%= user.firstName %>!</h1>
</body>
</html>