<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AnTutorsConnect</title>
</head>
<body>
    <h1>Welcome back, <%= user.firstName %>!</h1>
    <a href="/search">Find Tutors</a>
    <a href="/profile/tutor">Become a Tutor</a>
    <a href="/profile">View Profile</a>
    <a href="/log-out">LOG OUT</a>
</body>
</html>