<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zot Tutors</title>
  <link rel="stylesheet" href="/stylesheets/auth.css">
  <link rel="icon" href="/images/logo.png">
</head>
<body>
  <div class="auth-container">
    <div class="promo-text">
      <h1>Zot Tutors</h1>
      <p>Find tutors for any UCI class!</p>
      <p>Become a tutor and make some extra cash while in school!</p>
    </div>
    <div class="auth-form">
      <h1>Log In</h1>
      <form action="/log-in" method="POST">
        <label for="email">Email: </label>
        <input class="auth-form" id="email" name="email" placeholder="Email" type="email" />
        <label for="password">Password</label>
        <input id="password" name="password" placeholder="Password" type="password" />
        <%- include("./partials/errors.ejs") %>
        <div class="auth-buttons">
          <button type="submit">Log In</button>
          <a href="/search">Log In as Guest</a>
        </div>
      </form>
      <div class="other-method">
        <p>Don't have an account yet? <a href="/sign-up">Sign Up</a> to join our community of <%= numUsers %> Students and Tutors!</p>
      </div>
    </div>
  </div>
</body>
</html>