<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Class Search - AnTutorsConnect</title>
</head>
<body>
    <h1>Class Search</h1>
    <!-- <form action="/log-in" method="POST">
      <label for="email">Email: </label>
      <input id="email" name="email" placeholder="Email" type="email" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form> -->
    <ul>
        <% classes.forEach(function(classItem) { %>
            <li><a href="/search/class/<%= classItem.id %>"><%= classItem.classCode %></a></li><p>(<%= classItem._count.tutors %> Tutors)</p>
        <% }); %>
    </ul>
    <a href="/">Back</a>
</body>
</html>