<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Class Search - AnTutorsConnect</title>
</head>
<body>
    <%- include("./partials/menu-bar.ejs") %>
    <h1>Class Search</h1>
    <form action="/search" method="POST">
      <label for="searchTerm">Search for a class by name or code: </label>
      <input id="searchTerm" name="searchTerm" placeholder="Search" type="text" />
      <button type="submit">Search</button>
    </form>
    <% if (searched){ %> <a href="/search">See all</a> <% } %>
    <ul>
        <% classes.forEach(function(classItem) { %>
            <li><a href="/search/class/<%= classItem.id %>"><%= classItem.classCode %></a><p>(<%= classItem._count.tutors %> Tutors)</p></li>
        <% }); %>
    </ul>
    <a href="/">Back</a>
</body>
</html>