<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AnTutorConnect - Sign Up</title>
  <link rel="stylesheet" href="/stylesheets/auth.css">
  <link rel="icon" href="/images/logo.png">
</head>
<body>
  <div class="auth-container">
    <div class="promo-text">
      <h1 class="promo-text">AnTutor Connect</h1>
      <p class="promo-text">Connect with tutors or sign up to be a tutor for any UCI Class!</p>
    </div>
    <div class="auth-form">
      <h1>Sign Up</h1>
      <form action="/sign-up" method="POST">
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" placeholder="First Name" type="text" required/>
        <label for="lastName">Last Name</label>
        <input id="lastName" name="lastName" placeholder="Last Name" type="text" required/>
        <label for="password">Password: </label>
        <input id="password" name="password" type="password" required/>
        <label for="confirmPassword">Confirm Password:</label>
        <input id="confirmPassword" name="confirmPassword" type="password" required/>
        <label for="email">Email: </label>
        <input id="email" name="email" type="email" required/>
        <%- include("./partials/errors.ejs") %>
        <div class="auth-buttons">
          <button type="submit">Sign Up</button>
        </div>
      </form>
      <div class="other-method">
        <p>Already have an account? <a href="/log-in">Log In here</a>!</p>
      </div>
    </div>
  </div>
</body>
</html>
