.homepage-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-section p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.homepage-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.homepage-buttons .button, .payment-button {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.homepage-buttons .button:hover, .payment-button:hover {
    background-color: var(--secondary-color); /* Adjust hover color */
}

.homepage-container h3 {
    color: #007bff;
    margin-bottom: 10px;
  }
  
.homepage-container ul {
    list-style-type: none;
    padding: 0;
}

.homepage-container li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.success-header {
    text-align: center;
}