.update-classes-body {
  display: flex;
  justify-content: center; /* Centers the profile-container horizontally */
  align-items: flex-start; /* Aligns items to the top */
  gap: 20px; /* Space between the two containers */
}

.profile-container {
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0010px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-color);
  }

.class-search-container {
    flex-shrink: 0;
    max-width: 900px;
    min-width: 700px;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0010px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-color);
  }

.classes-taught-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    max-width: 800px;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0010px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-color);
    position: sticky;
    top: 10px;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
  }
  
.profile-name {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--primary-color); /* Using CSS variable */
  }
  
  .profile-header{
    display: flex;
    justify-content: space-between;
  }

  .classes-taught-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: end;
  }
  
 .profile-email {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
.tutor-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .profile-bio, 
  .profile-availability, 
  .profile-rate,
  .profile-meeting,
  .classes-taught-header {
    margin-bottom: 10px;
    width: 100%;
    text-align: start;
  }
  
  .update-profile-btn, .back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
  }

  .back-button:hover {
    background-color: var(--secondary-color);
  }
  
  .update-profile-btn:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
  }

  input[type="text"], 
  input[type="email"], 
  input[type="number"], 
  textarea, 
  select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1em;
      box-sizing: border-box;
  }

  .profile-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin-bottom: 15px;
  }

.class-checkbox {
    display: none;
}

.list-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.class-checkbox:checked + .list-button {
    background-color: #28a745;
}

.list-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.update-class-list{
  margin-top: 10px;
}

.update-class-class form, .update-class-class{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.add-button, .remove-button {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.add-button {
  background-color: #28a745;
}

.add-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.remove-button {
  background-color: #dc3545;
}

.remove-button:hover {
  background-color: #b21f2d;
  transform: scale(1.05);
}